In [17]:
import pandas as pd
import requests
import urllib.request
import re
import time
from bs4 import BeautifulSoup

In [18]:
def next_url(soup):
    link=soup.find(class_='lister-page-next next-page')
    if link is None:
        return None
    else:
        link=link.get('href')
        link='https://www.imdb.com'+link
    return link

In [19]:
def url_get(url=''):
    if url=='':
        url='https://www.imdb.com/search/title/?groups=top_250&sort=user_rating,desc&ref_=adv_prv'
    user_agent={}
    user_agent['Mozila'] = 'Mozilla/5.0 (Windows NT 6.1; Win64; x64)'
    user_agent['Android'] = 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:68.0) Gecko/20100101 Firefox/68.0'
    headers={'User-Agent':user_agent['Android'],'Accept-Language': 'en-US,en;q=0.8'}
    urlHandle=urllib.request.Request(url,None,headers)
    urlHandle=urllib.request.urlopen(urlHandle)
    content=urlHandle.read()
    return BeautifulSoup(content,'html.parser')

In [20]:
def DataFrame():
    data={}
    data['Name']=name
    data['Year of Release']=year
    data['Genre']=genre
    data['IMDB Rating']=IMDB_rating
    data['Metascore']=metascore
    data['Director(s)']=directors
    data['Star(s)']=stars
    data['Summary']=summary
    data['Votes']=votes
    data['Gross Earning']=grosses
    df = pd.DataFrame(data=data,index=index)
    df.to_csv('IMDB.csv')
    return df

In [21]:
def index_extract(movie):
    index_elem=movie.find(class_='lister-item-index unbold text-primary')
    
    if index_elem is None:
        return None
    else:
        ans=index_elem.text
        return int(ans.split('.')[0])

In [22]:
def name_extract(movie):
    header_elem=movie.find(class_='lister-item-header')
    if header_elem is None:
        return None
    else:
        header=header_elem.find('a').text
        return header

In [23]:
def year_extract(movie):
    year_elem=movie.find(class_='lister-item-year text-muted unbold')
    ans=re.findall(r'\((\d+)\)',year_elem.text)
    if len(ans)<1:
        return None
    else:
        return int(ans[0])

In [24]:
def genre_extract(movie):
    ans=movie.find(class_='genre')
    if ans is None:
        return None
    else:
        return ans.text.strip().replace('\n','')

In [25]:
def imdb_extract(movie):
    rating_elem=movie.find(class_='inline-block ratings-imdb-rating')
    if rating_elem is None:
        return None
    else:
        rating=rating_elem.find('strong').text
        return float(rating)

In [26]:
def metascore_extract(movie):
    temp=movie.find(class_='metascore')
    if temp is None:
        return None
    else:
        return str(temp.text.strip())

In [27]:
def summary_extract(movie):
    temp=movie.find_all('p',{'class':'text-muted'})
    if temp is None:
        return None
    else:
        temp=temp[-1].text
        return str(temp.replace('\n','').strip())

In [28]:
def votes_extract(movie):
    temp=movie.find(class_='sort-num_votes-visible')
    temp=temp.text.strip().replace('\n','')
    vote=re.findall(r'Vote[s:]+([0-9,]+)',temp)
    if len(vote)<1:
        return None
    else:
        return vote[0]

In [29]:
def gross_extract(movie):
    temp=movie.find(class_='sort-num_votes-visible')
    temp=temp.text.strip().replace('\n','')
    gross=re.findall(r'Gross:([\$0-9.,A-Z]+)',temp)
    if len(gross)<1:
        return None
    else:
        return gross[0]

In [30]:
def director_star_extract(movie):
    send=[]
    temp=''
    director_star_elem=movie.find_all('p',{'class':''})
    for i in director_star_elem:
        if 'Director' in i.text:
            temp=i.text
    temp=temp.replace('\n','').strip()
    director=re.findall(r'^Director[s:]*([a-zA-Z0-9 ,.]*)',temp)
    if len(director)<1:
        send.append(None)
    else:
        send.append(director[0])
    star=re.findall(r'Star[s:]+([a-zA-Z0-9 ,.]*)',temp)
    if len(star)<1:
        send.append(None)
    else:
        send.append(star[0])
    return send

In [31]:
index=[]
name=[]
year=[]
genre=[]
IMDB_rating=[]
metascore=[]
summary=[]
directors=[]
stars=[]
votes=[]
grosses=[]

def main():
    wait=input('Enter number of seconds to wait before fetching the next page (default: 10): ')
    if wait=='':
        wait=25
    else:
        wait=int(wait)
    print('Fetching page')
    soup=url_get()
    for i in range(1,6):
        all_movies=soup.find_all(class_='lister-item-content')
        print('Fetching page')
        print('Scraping.....')
        for movie in all_movies:
            index.append(index_extract(movie))
            name.append(name_extract(movie))
            year.append(year_extract(movie))
            genre.append(genre_extract(movie))
            IMDB_rating.append(imdb_extract(movie))
            metascore.append(metascore_extract(movie))
            summary.append(summary_extract(movie))
            director_and_star=director_star_extract(movie)
            directors.append(director_and_star[0])
            stars.append(director_and_star[1])
            votes.append(votes_extract(movie))
            grosses.append(gross_extract(movie))
        next_link=next_url(soup)
        if next_link is None:
            print('Scraping completed..Exiting')
            break;
        print('Scraping completed... sleeping for ',wait,' seconds')
        time.sleep(wait)
        soup=url_get(next_link)
    df=DataFrame()
    return df

In [32]:
df=main()

Enter number of seconds to wait before fetching the next page (default: 10): 10
Fetching page
Fetching page
Scraping.....
Scraping completed... sleeping for  10  seconds
Fetching page
Scraping.....
Scraping completed... sleeping for  10  seconds
Fetching page
Scraping.....
Scraping completed... sleeping for  10  seconds
Fetching page
Scraping.....
Scraping completed... sleeping for  10  seconds
Fetching page
Scraping.....
Scraping completed..Exiting

In [33]:
df

,Name,Year of Release,Genre,IMDB Rating,Metascore,Director(s),Star(s),Summary,Votes,Gross Earning
1,The Shawshank Redemption,1994,Drama,9.3,80,Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",Two imprisoned men bond over a number of years...,"2,124,308",$28.34M
2,The Godfather,1972,"Crime, Drama",9.2,100,Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan, Diane Ke...",The aging patriarch of an organized crime dyna...,"1,458,558",$134.97M
3,The Dark Knight,2008,"Action, Crime, Drama",9.0,84,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",When the menace known as The Joker emerges fro...,"2,089,372",$534.86M
4,The Godfather: Part II,1974,"Crime, Drama",9.0,90,Francis Ford Coppola,"Al Pacino, Robert De Niro, Robert Duvall, Dian...",The early life and career of Vito Corleone in ...,"1,014,426",$57.30M
5,The Lord of the Rings: The Return of the King,2003,"Adventure, Drama, Fantasy",8.9,94,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",Gandalf and Aragorn lead the World of Men agai...,"1,511,434",$377.85M
6,Pulp Fiction,1994,"Crime, Drama",8.9,94,Quentin Tarantino,"John Travolta, Uma Thurman, Samuel L. Jackson,...","The lives of two mob hitmen, a boxer, a gangst...","1,664,203",$107.93M
7,Schindler's List,1993,"Biography, Drama, History",8.9,93,Steven Spielberg,"Liam Neeson, Ralph Fiennes, Ben Kingsley, Caro...","In German-occupied Poland during World War II,...","1,102,320",$96.90M
8,12 Angry Men,1957,Drama,8.9,96,Sidney Lumet,"Henry Fonda, Lee J. Cobb, Martin Balsam, John ...",A jury holdout attempts to prevent a miscarria...,"605,022",$4.36M
9,Inception,2010,"Action, Adventure, Sci-Fi",8.8,74,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon",A thief who steals corporate secrets through t...,"1,862,512",$292.58M
10,Fight Club,1999,Drama,8.8,66,David Fincher,"Brad Pitt, Edward Norton, Meat Loaf, Zach Grenier",An insomniac office worker and a devil-may-car...,"1,697,974",$37.03M
11,The Lord of the Rings: The Fellowship of the Ring,2001,"Adventure, Drama, Fantasy",8.8,92,Peter Jackson,"Elijah Wood, Ian McKellen, Orlando Bloom, Sean...",A meek Hobbit from the Shire and eight compani...,"1,526,977",$315.54M
12,Forrest Gump,1994,"Drama, Romance",8.8,82,Robert Zemeckis,"Tom Hanks, Robin Wright, Gary Sinise, Sally Field","The presidencies of Kennedy and Johnson, the e...","1,633,599",$330.25M
13,"The Good, the Bad and the Ugly",1966,Western,8.8,90,Sergio Leone,"Clint Eastwood, Eli Wallach, Lee Van Cleef, Al...",A bounty hunting scam joins two men in an unea...,"631,002",$6.10M
14,The Lord of the Rings: The Two Towers,2002,"Adventure, Drama, Fantasy",8.7,87,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",While Frodo and Sam edge closer to Mordor with...,"1,366,870",$342.55M
15,The Matrix,1999,"Action, Sci-Fi",8.7,73,"Lana Wachowski, Lilly Wachowski","Keanu Reeves, Laurence Fishburne, Carrie",A computer hacker learns from mysterious rebel...,"1,528,142",$171.48M
16,Goodfellas,1990,"Biography, Crime, Drama",8.7,89,Martin Scorsese,"Robert De Niro, Ray Liotta, Joe Pesci, Lorrain...",The story of Henry Hill and his life in the mo...,"917,665",$46.84M
17,Star Wars: Episode V - The Empire Strikes Back,1980,"Action, Adventure, Fantasy",8.7,82,Irvin Kershner,"Mark Hamill, Harrison Ford, Carrie Fisher, Bil...",After the Rebels are brutally overpowered by t...,"1,063,779",$290.48M
18,One Flew Over the Cuckoo's Nest,1975,Drama,8.7,83,Milos Forman,"Jack Nicholson, Louise Fletcher, Will Sampson,...",A criminal pleads insanity after getting into ...,"840,835",$112.00M
19,Avengers: Endgame,2019,"Action, Adventure, Sci-Fi",8.6,78,"Anthony Russo, Joe Russo","Robert Downey Jr., Chris Evans, Mark Ruffalo, ...",After the devastating events of Avengers: Infi...,"524,796",$858.04M
20,Interstellar,2014,"Adventure, Drama, Sci-Fi",8.6,74,Christopher Nolan,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",A team of explorers travel through a wormhole ...,"1,319,579",$188.02M
21,City of God,2002,"Crime, Drama",8.6,79,"Fernando Meirelles, K","Alexandre Rodrigues, Leandro Firmino, Matheus ...","In the slums of Rio, two kids' paths diverge a...","651,261",$7.56M
22,Spirited Away,2001,"Animation, Adventure, Family",8.6,96,"Hayao Miyazaki, Kirk Wise","Daveigh Chase, Suzanne Pleshette, Miyu Irino, ...","During her family's move to the suburbs, a sul...","566,598",$10.06M
23,Saving Private Ryan,1998,"Drama, War",8.6,91,Steven Spielberg,"Tom Hanks, Matt Damon, Tom Sizemore, Edward Burns","Following the Normandy Landings, a group of U....","1,125,400",$216.54M
24,The Green Mile,1999,"Crime, Drama, Fantasy",8.6,61,Frank Darabont,"Tom Hanks, Michael Clarke Duncan, David Morse,...",The lives of guards on Death Row are affected ...,"1,030,517",$136.80M
25,Life Is Beautiful,1997,"Comedy, Drama, Romance",8.6,59,Roberto Benigni,"Roberto Benigni, Nicoletta Braschi, Giorgio Ca...",When an open-minded Jewish librarian and his s...,"560,679",$57.60M
26,Se7en,1995,"Crime, Drama, Mystery",8.6,65,David Fincher,"Morgan Freeman, Brad Pitt, Kevin Spacey, Andre...","Two detectives, a rookie and a veteran, hunt a...","1,304,639",$100.13M
27,Léon: The Professional,1994,"Action, Crime, Drama",8.6,64,Luc Besson,"Jean Reno, Gary Oldman, Natalie Portman, Danny...","Mathilda, a 12-year-old girl, is reluctantly t...","938,685",$19.50M
28,The Silence of the Lambs,1991,"Crime, Drama, Thriller",8.6,85,Jonathan Demme,"Jodie Foster, Anthony Hopkins, Lawrence A. Bon...",A young F.B.I. cadet must receive the help of ...,"1,149,702",$130.74M
29,Star Wars: Episode IV - A New Hope,1977,"Action, Adventure, Fantasy",8.6,90,George Lucas,"Mark Hamill, Harrison Ford, Carrie Fisher, Ale...",Luke Skywalker joins forces with a Jedi Knight...,"1,132,780",$322.74M
30,Seven Samurai,1954,"Adventure, Drama",8.6,98,Akira Kurosawa,Toshir,A poor village under attack by bandits recruit...,"287,879",$0.27M
...,...,...,...,...,...,...,...,...,...,...
221,Platoon,1986,"Drama, War",8.1,92,Oliver Stone,"Charlie Sheen, Tom Berenger, Willem Dafoe, Kei...",A young soldier in Vietnam faces a moral crisi...,"354,664",$138.53M
222,"Paris, Texas",1984,Drama,8.1,78,Wim Wenders,"Harry Dean Stanton, Nastassja Kinski, Dean Sto...","Travis Henderson, an aimless drifter who has b...","76,156",$2.18M
223,Nausicaä of the Valley of the Wind,1984,"Animation, Adventure, Fantasy",8.1,86,Hayao Miyazaki,"Sumi Shimamoto, Mahito Tsujimura, Hisako Ky",Warrior and pacifist Princess Nausicaä despera...,"129,798",$0.50M
224,The Thing,1982,"Horror, Mystery, Sci-Fi",8.1,57,John Carpenter,"Kurt Russell, Wilford Brimley, Keith David, Ri...",A research team in Antarctica is hunted by a s...,"335,511",$13.78M
225,Blade Runner,1982,"Action, Sci-Fi, Thriller",8.1,89,Ridley Scott,"Harrison Ford, Rutger Hauer, Sean Young, Edwar...",A blade runner must pursue and terminate four ...,"635,433",$32.87M
226,The Elephant Man,1980,"Biography, Drama",8.1,77,David Lynch,"Anthony Hopkins, John Hurt, Anne Bancroft, Joh...",A Victorian surgeon rescues a heavily disfigur...,"202,256",None
227,Monty Python's Life of Brian,1979,Comedy,8.1,77,Terry Jones,"Graham Chapman, John Cleese, Michael Palin, Te...",Born on the original Christmas in the stable n...,"338,081",$20.05M
228,The Deer Hunter,1978,"Drama, War",8.1,86,Michael Cimino,"Robert De Niro, Christopher Walken, John Cazal...",An in-depth examination of the ways in which t...,"286,904",$48.98M
229,Rocky,1976,"Drama, Sport",8.1,70,John G. Avildsen,"Sylvester Stallone, Talia Shire, Burt Young, C...",A small-time boxer gets a supremely rare chanc...,"477,731",$117.24M
230,Network,1976,Drama,8.1,83,Sidney Lumet,"Faye Dunaway, William Holden, Peter Finch, Rob...",A television network cynically exploits a dera...,"132,809",None
231,Barry Lyndon,1975,"Adventure, Drama, History",8.1,89,Stanley Kubrick,Ryan O,An Irish rogue wins the heart of a rich widow ...,"134,088",None
232,Cool Hand Luke,1967,"Crime, Drama",8.1,91,Stuart Rosenberg,"Paul Newman, George Kennedy, Strother Martin, ...",A laid back Southern man is sentenced to two y...,"150,173",None
233,Persona,1966,"Drama, Thriller",8.1,86,Ingmar Bergman,"Bibi Andersson, Liv Ullmann, Margaretha Krook,...",A nurse is put in charge of a mute actress and...,"88,432",None
234,The Battle of Algiers,1966,"Drama, War",8.1,95,Gillo Pontecorvo,"Brahim Hadjadj, Jean Martin, Yacef Saadi, Tomm...","In the 1950s, fear and violence escalate as th...","47,432",$0.06M
235,The 400 Blows,1959,"Crime, Drama",8.1,None,Fran,Jean,"A young boy, left without attention, delves in...","93,364",None
236,Ben-Hur,1959,"Adventure, Drama, History",8.1,90,William Wyler,"Charlton Heston, Jack Hawkins, Stephen Boyd, H...",When a Jewish prince is betrayed and sent into...,"203,323",$74.70M
237,The Bridge on the River Kwai,1957,"Adventure, Drama, War",8.1,87,David Lean,"William Holden, Alec Guinness, Jack Hawkins, S...",After settling his differences with a Japanese...,"187,845",$44.91M
238,On the Waterfront,1954,"Crime, Drama, Thriller",8.1,91,Elia Kazan,"Marlon Brando, Karl Malden, Lee J. Cobb, Rod S...",An ex-prize fighter turned longshoreman strugg...,"130,163",$9.60M
239,The Wages of Fear,1953,"Adventure, Drama, Thriller",8.1,None,Henri,"Yves Montand, Charles Vanel, Peter van Eyck, F...","In a decrepit South American village, four men...","48,838",None
240,The Third Man,1949,"Film-Noir, Mystery, Thriller",8.1,97,Carol Reed,"Orson Welles, Joseph Cotten, Alida Valli, Trev...",Pulp novelist Holly Martins travels to shadowy...,"146,646",$0.45M
241,Rebecca,1940,"Drama, Mystery, Romance",8.1,None,Alfred Hitchcock,"Laurence Olivier, Joan Fontaine, George Sander...",A self-conscious woman juggles adjusting to he...,"111,965",$4.36M
242,Mr. Smith Goes to Washington,1939,"Comedy, Drama",8.1,73,Frank Capra,"James Stewart, Jean Arthur, Claude Rains, Edwa...",A naive man is appointed to fill a vacancy in ...,"99,161",$9.60M
243,Gone with the Wind,1939,"Drama, History, Romance",8.1,97,"Victor Fleming, George Cukor, Sam Wood","Clark Gable, Vivien Leigh, Thomas Mitchell, Ba...",A manipulative woman and a roguish man conduct...,"266,672",$198.68M
244,It Happened One Night,1934,"Comedy, Romance",8.1,87,Frank Capra,"Clark Gable, Claudette Colbert, Walter Connoll...",A spoiled heiress running away from her family...,"85,651",$4.36M
245,Sunrise,1927,"Drama, Romance",8.1,None,F.W. Murnau,George O,An allegorical tale about a man fighting the g...,"43,814",None
246,The General,1926,"Action, Adventure, Comedy",8.1,None,"Clyde Bruckman, Buster Keaton","Buster Keaton, Marion Mack, Glen Cavender, Jim...",When Union spies steal an engineer's beloved l...,"72,544",None
247,Before Sunset,2004,"Drama, Romance",8.0,90,Richard Linklater,"Ethan Hawke, Julie Delpy, Vernon Dobtcheff, Lo...","Nine years after Jesse and Celine first met, t...","210,811",$5.82M
248,"Monsters, Inc.",2001,"Animation, Adventure, Comedy",8.0,78,"Pete Docter, David Silverman, Lee Unkrich","Billy Crystal, John Goodman, Mary Gibbs, Steve...","In order to power the city, monsters have to s...","749,027",$289.92M
249,The Terminator,1984,"Action, Sci-Fi",8.0,84,James Cameron,"Arnold Schwarzenegger, Linda Hamilton, Michael...",A seemingly indestructible robot is sent from ...,"737,546",$38.40M
250,Butch Cassidy and the Sundance Kid,1969,"Biography, Crime, Drama",8.0,66,George Roy Hill,"Paul Newman, Robert Redford, Katharine Ross, S...","Wyoming, early 1900s. Butch Cassidy and The Su...","189,029",$102.31M